body {
     font-family: "Times New Roman";
}

.container {
    overflow: hidden;
}

.header {
    background-color: #E8C84E;
    height: 50px;
    font-size: 130%;
    text-align: center;
}

.left {
    background-color: #FFB544;
    width: 40%;
    height: 500px;
    float: left;
    font-size: 130%;
}

ul {
/*    list-style-type: "→"; */
    background-color: rgba(234, 0.8, 0.6, 0.5);
}

.mid {
    width: 30%;
    height: 500px;
    text-align: center;
    float: left;
}

.right {
    background-color: #FFB544;
    width: 30%;
    height: 500px;
    float: left;
    text-align: center;
    font-size: 130%;
/*    inline */
}

.footer {
    padding: 10px;
    background-color: #E8C84E;
    height: 50px;
    text-align: right;
}